USE [master]
GO
/****** Object:  Database [Design]    Script Date: 9/10/2018 7:23:15 PM ******/
CREATE DATABASE [Design]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Design', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Design.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Design_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\Design_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Design].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Design]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 9/10/2018 7:23:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[activityID] [int] IDENTITY(1,1) NOT NULL,
	[activityName] [nchar](30) NOT NULL,
	[activityDuration] [nchar](20) NOT NULL,
	[activityDate] [date] NOT NULL,
	[cost] [int] NOT NULL,
	[IsSaved] [bit] NOT NULL,
	[IsBooked] [bit] NOT NULL,
 CONSTRAINT [PK_Activity] PRIMARY KEY CLUSTERED 
(
	[activityID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Air]    Script Date: 9/10/2018 7:23:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Air](
	[airId] [int] IDENTITY(1,1) NOT NULL,
	[ticketNumber] [int] NOT NULL,
	[departureStation] [nchar](20) NOT NULL,
	[destinationStation] [nchar](20) NOT NULL,
	[arrivalTime] [time](7) NOT NULL,
	[departureTime] [time](7) NOT NULL,
	[duration] [nchar](10) NOT NULL,
	[price] [int] NOT NULL,
	[IsSaved] [bit] NOT NULL,
	[IsBooked] [bit] NOT NULL,
 CONSTRAINT [PK_Air] PRIMARY KEY CLUSTERED 
(
	[airId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Car]    Script Date: 9/10/2018 7:23:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[carId] [int] IDENTITY(1,1) NOT NULL,
	[carName] [nchar](20) NOT NULL,
	[carCompany] [nchar](20) NOT NULL,
	[carModel] [nchar](20) NOT NULL,
	[cost] [int] NOT NULL,
	[color] [nchar](20) NOT NULL,
	[engine] [nchar](20) NULL,
	[IsSaved] [bit] NOT NULL,
	[IsBooked] [bit] NOT NULL,
 CONSTRAINT [PK_Car] PRIMARY KEY CLUSTERED 
(
	[carId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Hotel]    Script Date: 9/10/2018 7:23:15 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Hotel](
	[IsBooked] [bit] NOT NULL,
	[IsSaved] [bit] NOT NULL,
	[address] [nchar](100) NOT NULL,
	[fare] [int] NOT NULL,
	[hotelId] [int] IDENTITY(1,1) NOT NULL,
	[hotelName] [varchar](50) NOT NULL,
	[rating] [int] NOT NULL,
	[roomsAvailable] [int] NOT NULL,
	[wifiAvailability] [bit] NOT NULL,
 CONSTRAINT [PK_Hotel] PRIMARY KEY NONCLUSTERED 
(
	[hotelId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
